body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./restaurant.jpg);
    background-size: cover;
}

header, footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 5px;
}

footer > p {
    color: white;
}

button {
    width: 125px;
    height: 50px;
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
}

#about {
    text-align: center;
    width: 600px;
    font-size: 22px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 231, 231);
    margin: auto;
    width: 960px;
    height: 100vh;
    border-radius: 15px;
    box-shadow: 10px 10px 10px;
}